@{
    ViewBag.Title = "Home Page";
}

<div class="main" style="padding: 20px;">

    <h1 style="margin: 20px"> Üdvözöllek a Robocop rendészeti képzést támogató programban!</h1>

    <h4 style="color: white; margin: 20px;"> Ide még jönni fog egy csomó szöveg, de nem most akarom megírni. A szöveg majd valami ki információt tartalmaz a programról és a további teendőkről.</h4>

</div>